.body {
   display: grid;

   grid-template-rows: auto auto 1fr auto;
   margin-left: 260px;
   margin-bottom: 50px;
   margin-top: 50px;
   padding: 50px;

   background-color: #181a24;

   max-width: 500px;
   border-radius: 25px;
}

.gp-group-triggers,
.group-buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.gp-share-menu {
   display: flex;
   justify-content: center;
}

.gp-touch-pad {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #292c3d;
   max-width: 50%;
   height: 100px;
   margin-left: 125px;
   border-radius: 10px 10px 40px 40px;
}

.leftGroup,
.rightGroup {
   display: flex;
   justify-content: center;
   align-items: center;
}

.gp-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
   margin-left: -30px;
}
